{% extends "base/site.html" %}
{% block title %}{{ copy.confirmation_title }} · Wynwood{% endblock %}
{% block content %}
<section class="wh-confirmation">
  <div>
    <p>{{ copy.confirmation_title }}</p>
    <h1>{{ confirmation_heading }}</h1>
    <p>{{ confirmation_sent }}</p>
    <dl>
      <dt>{{ copy.arrival }}</dt><dd>{{ booking.check_in }}</dd>
      <dt>{{ copy.departure }}</dt><dd>{{ booking.check_out }}</dd>
      <dt>{{ copy.guests }}</dt><dd>{{ booking.guests }}</dd>
      <dt>{{ copy.total_paid }}</dt><dd>USD {{ booking.total }}</dd>
      <dt>{{ copy.reference }}</dt><dd>{{ booking.payment.reference }}</dd>
    </dl>
    <a href="{% url 'pages:home' %}">{{ copy.back_home }}</a>
  </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
